{{ partial "header_tags.html" . }}
<div class="mdl-cell mdl-cell--12-col tags">
{{ range .Site.Taxonomies.tags.ByCount }}
<a href="/tags/{{ .Name | urlize }}"class="mdl-badge {{ if ne $.Title (.Name | urlize) }}mdl-color-text--grey-500{{ end }}" data-badge="{{ .Count }}">{{ .Name }}</a>
{{ end }}
</div>
{{ range .Pages }}
{{ $is_github := ge (len (findRE "github.com" .Params.repo)) 1 }}
<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
<div class="mdl-card mdl-shadow--4dp">
<div class="mdl-card__supporting-text">
<h1 class="mdl-color-text--accent">{{ .Params.name }}</h1>
<span class="spaced"><h2 class="mdl-color-text--primary">by {{ .Params.owner }}</h2>
{{ if $is_github }}
{{ $repo := index (split .Params.repo "github.com/") 1}}
<span>
<img src="https://img.shields.io/github/license/{{$repo}}.svg"/>
<img src="https://img.shields.io/github/stars/{{$repo}}.svg?style=social&label=Star"/>
</span>
{{ end }}</span>
<br>
<p>{{ .Summary }}</p>
</div>
<div class="mdl-card__actions mdl-card--border">
<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--accent"
    href="{{ .Params.website }}"><i class="material-icons">link</i>&nbsp;Webpage</a>
<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--accent"
    href="{{ .Params.repo }}"><i class="material-icons">code</i>&nbsp;Repository</a>
</div></div></div>
{{ end }}
{{ partial "footer.html" . }}
