{{ partial "header_no_grid.html" . }}
<div class="page-content mdl-grid">
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
<div class="mdl-tabs__tab-bar">
  <a href="/packages" class="mdl-tabs__tab">All</a>
  <a href="#tags" class="mdl-tabs__tab is-active">By Tag</a>
</div>
<section class="mdl-tabs__panel is-active" id="tags">
<div class="mdl-cell mdl-cell--12-col ">
<div class="mdl-card mdl-shadow--4dp"><div class="mdl-card__supporting-text tags">
{{ range .Site.Taxonomies.tags.ByCount }}
<a href="/tags/{{ .Name | urlize }}"class="mdl-badge {{ if ne $.Title (.Name | urlize) }}mdl-color-text--grey-500{{ end }}" data-badge="{{ .Count }}">{{ .Name }}</a>
{{ end }}
</div></div></div>
</section></div>

{{ range .Pages.ByLinkTitle.Reverse }}
{{ $is_github := ge (len (findRE "github.com" .Params.repo)) 1 }}
<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
<div class="mdl-card mdl-shadow--4dp">
<div class="mdl-card__supporting-text">
<h1 class="mdl-color-text--accent">{{ .Title }}</h1>
<span class="spaced"><h2 class="mdl-color-text--primary">by {{ .Params.owner }}</h2>
{{ if $is_github }}
{{ $repo := index (split .Params.repo "github.com/") 1}}
<span>
<img src="https://img.shields.io/github/license/{{$repo}}.svg"/>
<img src="https://img.shields.io/github/stars/{{$repo}}.svg?style=social&label=Star"/>
</span>
{{ end }}</span>
<p class="mdl-typography--caption" style="margin-top: .5em">Tags: {{ delimit (apply .Params.tags "partial" "tag_link" ".") ", "}}</p>
<br>
<p>{{ .Summary }}</p>
</div>
<div class="mdl-card__actions mdl-card--border">
<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--accent"
    href="{{ .Params.website }}"><i class="material-icons">link</i>&nbsp;Webpage</a>
<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--accent"
    href="{{ .Params.repo }}"><i class="material-icons">code</i>&nbsp;Repository</a>
</div></div></div>
{{ end }}
</div>
{{ partial "footer_no_grid.html" . }}
